In [2]:
import pandas as pd

**data frame comapred to dictornary :**
    dataframe column becomes the key of dictionary

In [3]:
# sample dictonary
people = {
    "first":["Jane", "Nancy", "David"],
    "last":["Jones", "Drew", "Whittman"],
    "email":["jane.jones@email.com", "nancy.drew@email.com", "david.whittman@email.com"]
}
people

{'first': ['Jane', 'Nancy', 'David'],
 'last': ['Jones', 'Drew', 'Whittman'],
 'email': ['jane.jones@email.com',
  'nancy.drew@email.com',
  'david.whittman@email.com']}

# Create Data Frame from dictonary
**key becomes column (and coumn-lables)**
**row-lables are given as index : is by default given as 0,1,2......**

In [4]:
# default row-lables
people_df = pd.DataFrame(people)
people_df

   first      last                     email
0   Jane     Jones      jane.jones@email.com
1  Nancy      Drew      nancy.drew@email.com
2  David  Whittman  david.whittman@email.com

In [5]:
# custom row-labes
people_df_rowlables = pd.DataFrame(people)
people_df_rowlables=people_df_rowlables.rename(index={0: 'customer 1', 1: 'customer 2', 2: 'customer 3'})
people_df_rowlables

            first      last                     email
customer 1   Jane     Jones      jane.jones@email.com
customer 2  Nancy      Drew      nancy.drew@email.com
customer 3  David  Whittman  david.whittman@email.com

In [6]:
people_df_rowlables_1 = pd.DataFrame({'Bob': ['I liked it.', 'It was awful.'], 
              'Sue': ['Pretty good.', 'Bland.']},
             index=['Product A', 'Product B'])
people_df_rowlables_1

                     Bob           Sue
Product A    I liked it.  Pretty good.
Product B  It was awful.        Bland.

In [7]:
people_df['email']

0        jane.jones@email.com
1        nancy.drew@email.com
2    david.whittman@email.com
Name: email, dtype: object

In [8]:
people_df.email

0        jane.jones@email.com
1        nancy.drew@email.com
2    david.whittman@email.com
Name: email, dtype: object

In [9]:
# dictonary is a list of lists, so column is list
type(people['email'])

list

In [10]:
#  "Series" - series is only with one column. If you give more than one column it becomes a dataFrame
type(people_df['email'])

pandas.core.series.Series

In [11]:
people_series = pd.Series([30,40,50])
people_series

0    30
1    40
2    50
dtype: int64

In [12]:
type(people_series)

pandas.core.series.Series

In [13]:
# Series have row-label, but only one column so no column lable, just the name of the series
people_series = pd.Series([30,40,50],index=['Type A','Type B','Type C'])
people_series

Type A    30
Type B    40
Type C    50
dtype: int64

In [14]:
people_series = pd.Series([30,40,50],index=['Type A','Type B','Type C'],name="Product")
people_series

Type A    30
Type B    40
Type C    50
Name: Product, dtype: int64

**The Series and the DataFrame are intimately related. It's helpful to think of a DataFrame as actually being just a bunch of Series "glued together"**

In [15]:
# Creating sub-dataframes by selecting only a few columns from original dataframe. if single column selected, it becomes a series.
people_df[['email','last']]

                      email      last
0      jane.jones@email.com     Jones
1      nancy.drew@email.com      Drew
2  david.whittman@email.com  Whittman

In [16]:
type(people_df[['email','last']])

pandas.core.frame.DataFrame

In [17]:
people_df.columns

Index(['first', 'last', 'email'], dtype='object')

In [20]:
# save the DF as CSV
people_df.to_csv("../../data/outputs/people.csv")

In [ ]:
# read again
# notice the first column is coming as "Unamed" as the file upon saving added index column
people_df_from_file = pd.read_csv("../../data/outputs/people.csv")
people_df_from_file

   Unnamed: 0  first      last                     email
0           0   Jane     Jones      jane.jones@email.com
1           1  Nancy      Drew      nancy.drew@email.com
2           2  David  Whittman  david.whittman@email.com

In [22]:
people_df_from_file2 = pd.read_csv("../../data/outputs/people.csv",index_col=0)
people_df_from_file2

   first      last                     email
0   Jane     Jones      jane.jones@email.com
1  Nancy      Drew      nancy.drew@email.com
2  David  Whittman  david.whittman@email.com